# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
* To learn Data Asset Management and Code Asset Management 
* To learn Open Source tools used in data Science
* To Learn about different Kernels in a Notebook Session and about Jupyter Architecture
* To learn the benefits of Python, R, C++, Scala and to determine the use of each

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. C++

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. Seaborn

|Data Science Tools |
|-----|
|Jupyter|
|R Studio|
|TensorFlow|
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python:

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [16]:
#This will convert 200 minutes to hours by diving by 60
str(200//60)+'hours '+str(200%60)+'mins'

'3hours 20mins'

## Author
Abiodun Olorunsogo